<a href="https://colab.research.google.com/github/lucasmontanheiro/colab/blob/main/Theory/Data_Science_01_Data_Preparation_01_Selecting_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Course

[LinkedIn Course](https://www.linkedin.com/learning/python-for-data-science-essential-training-part-1/filtering-and-selecting?autoplay=true&contextUrn=urn%3Ali%3AlyndaLearningPath%3A5b61ea25498e580437e51859&resume=false&u=56685617) + multiple sources

Pandas are great for
*  Fast data cleaning
*  Preparation and analysis
*  Data visualizations

Index & Data Frames
- Index is a list of integers to uniqly identify rows or columns. 
- DataFrames is a set of data, a dictionary structure

In [54]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [55]:
# In this case we're creating a custom index (i.e. 'row 1', 'row 2' etc)
series_obj = Series(np.arange(8), index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6', 'row 7', 'row 8'])
series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int64

In [56]:
# Creating another dataset
np.random.seed(25)
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)), 
                   index=['row 1', 'row 2', 'row 3', 'row 4', 'row 5', 'row 6'],
                   columns=['column 1', 'column 2', 'column 3', 'column 4', 'column 5', 'column 6'])
DF_obj

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [70]:
# 
address = "https://raw.githubusercontent.com/lucasmontanheiro/db/main/exercises/mtcars.csv"
cars = pd.read_csv(address)
cars.columns = ["cars_names", "mpg", "cyl", "disp", "hp", "drat", "wt", "qsec", "vs", "am", "gear", "carb"]

##Selecting and retrieving data

In [58]:
series_obj['row 7']

6

In [59]:
series_obj[[0, 7]]

row 1    0
row 8    7
dtype: int64

**Using .iloc and .loc**

In [60]:
#select values specifically located at columns and rows
# .loc[] uses named columns and rows
DF_obj.loc[['row 2', 'row 5'], ['column 5', 'column 2']]

       column 5  column 2
row 2  0.402366  0.437611
row 5  0.421004  0.559053

In [61]:
# .loc[] uses indexes
DF_obj.iloc[[1, 4], [4, 1]]

       column 5  column 2
row 2  0.402366  0.437611
row 5  0.421004  0.559053

##Data Slicing

In [62]:
series_obj['row 3':'row 7']

row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
dtype: int64

###Comparing with scalars
Scalars is a single numerical value.

In [63]:
DF_obj < .2

       column 1  column 2  column 3  column 4  column 5  column 6
row 1     False     False     False      True     False      True
row 2     False     False     False     False     False      True
row 3     False     False      True     False     False     False
row 4     False     False     False     False     False     False
row 5     False     False      True     False     False     False
row 6     False     False     False     False     False     False

##Filtering

In [64]:
# Define the filter and apply in the dataframe
filter = (DF_obj["column 2"] > 0.44)
DF_obj[filter]

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [65]:
#Filtering based on scalar
series_obj[series_obj > 6]

row 8    7
dtype: int64

In [66]:
# Define the filter and apply in the dataframe
filter = (DF_obj["column 2"] > 0.44) & (DF_obj["column 5"] > 0.35)
DF_obj[filter]

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935

In [82]:
# Filtering and selecting a subset of rows
models = ["Honda Civic", "Toyota Corolla", "Ferrari Dino", "Maserati Bora"]
filter = cars["cars_names"].isin(models)
cars[filter]

,cars_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8

In [81]:
# Filtering a set based on string
filter = cars["cars_names"].str.contains("Toyota", na=False)
cars[filter]

,cars_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1

##Setting values

In [68]:
series_obj['row 1', 'row 5', 'row 8'] = 8
series_obj

row 1    8
row 2    1
row 3    2
row 4    3
row 5    8
row 6    5
row 7    6
row 8    8
dtype: int64